<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Makefile Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		.entries .row {
			height: 65px;
		}

		.entries .row.empty {
			opacity: 0.5;
		}

		.entries .row:hover, .entries .row:hover input, .entries .row:hover textarea, .entries .row:hover select {
			background-color: cornsilk;
		}
	</style>
</head>
<body>
	<div id="makefile-generator-app" class="d-none">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand">Makefile Generator 0.5.1</a>
			<div class="navbar-header mr-auto">
				<button @click="addEntry()" class="btn btn-primary">
					Add entry
				</button>
				<button @click="addHelpTarget()" class="btn btn-primary">
					Add Help
				</button>
				<button @click="addEntry({target: '.PHONY', otherTargets: 'test'})" class="btn btn-primary">
					Add .PHONY
				</button>
				<button @click="addEntry({target: 'var', otherTargets: 'value', type: 'variable'})" class="btn btn-primary">
					Add Variable
				</button>
			</div>
			<div class="form-inline mr-0 my-2 my-lg-0 saved-makefiles-control">
				<input type="text" class="form-control col-lg-3" v-model="savedMakefileName">
				<button @click="saveMakefile()" class="btn btn-success" title="Save makefile">
					S
				</button>
				<select class="form-control col-lg-3" v-model="loadedMakefile">
					<option v-for="savedMakefile in this.savedMakefiles" :key="savedMakefile.name" :value="savedMakefile">
						{{ savedMakefile.name }}
					</option>
				</select>
				<button @click="loadMakefile()" class="btn btn-warning" title="Load makefile">
					L
				</button>
				<button @click="deleteLoadedMakefile()" class="btn btn-danger" title="Delete loaded makefile" v-if="loadedMakefile">
					D
				</button>
				<button @click="exportSavedMakefiles()" class="btn btn-info" title="Export saved makefiles">
					E
				</button>
				<input type="file" class="d-none" ref="importSavedMakefilesElement" @change="handleSelectImportSavedMakefiles">
				<button @click="$refs.importSavedMakefilesElement.click()" class="btn btn-info" title="Import saved makefiles">
					I
				</button>
<!--				<button @click="backupSavedMakeFiles" class="btn btn-info" title="Backup saved makefile">-->
<!--					B-->
<!--				</button>-->
<!--				<button @click="restoreSavedMakeFiles" class="btn btn-info" title="Restore saved makefile">-->
<!--					R-->
<!--				</button>-->
			</div>
		</nav>

		<div class="text-center p-2 entries">
			<div class="row" v-for="(entry, index) in entries" :class="{empty: entry.type === types.TYPE_TARGET && entry.target === ''}">
				<template v-if="entry.type === types.TYPE_CODE_BLOCK">
					<div class="col-8">
						<textarea class="form-control" placeholder="code block" v-model="entry.codeBlock" :key="index" @keydown="handleTabKey"></textarea>
					</div>
				</template>
				<template v-else>
					<div class="col">
						<input class="form-control" type="text" placeholder="target" v-model="entry.target" :key="index">
					</div>
					<div class="col">
						<input class="form-control" type="text" :placeholder="`${entry.type === types.TYPE_TARGET ? 'other targets' : 'variable value'}`" v-model="entry.otherTargets" :key="index">
					</div>
					<div class="col">
						<textarea
								class="form-control"
								placeholder="command"
								v-if="entry.type === types.TYPE_TARGET"
								:key="index"
								:value="entry.command.trimStart()"
								@input="event => entry.command = `\t` + event.target.value"
								@keydown="handleTabKey"></textarea>
					</div>
					<div class="col">
						<input class="form-control" type="text" placeholder="comment" v-model="entry.comment" :key="index">
					</div>
				</template>
				<div class="col">
					<select class="form-control" v-model="entry.type">
						<option v-for="type of types" :value="type">{{ type }}</option>
					</select>
				</div>
				<div class="col">
					<button @click="moveUp(entry)" class="btn btn-info">
						Up
					</button>
					<button @click="moveDown(entry)" class="btn btn-info">
						Down
					</button>
					<button @click="remove(entry)" class="btn btn-danger">
						Remove
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<code>Makefile</code>
			<div class="row">
				<div class="col"><a type="button" class="btn btn-primary btn-sm" v-bind:href="makefileDownloadUrl" download="Makefile">Download</a><input type="file" class="d-none" ref="uploadMakefileElement" @change="loadMakefileFromFile"></div>
				<div class="col"><button class="btn btn-primary btn-sm" @click="$refs.uploadMakefileElement.click()">Upload</button></div>
				<div class="col"><button class="btn btn-primary btn-sm" @click="copyToClipboard($refs.makeFileContentsElement)">Copy to clipboard</button></div>
				<div class="col">
					<select class="form-control" @input="selectExample">
						<option v-for="makeFileEntry in examples" :value="makeFileEntry.contents">{{ makeFileEntry.name }}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col"><textarea class="form-control" ref="inputMakeFileContentsElement" style="height: 40px" @click="resizeElement($refs.inputMakeFileContentsElement, 300)" @blur="onParse" @keydown="handleTabKey"></textarea></div>
			</div>
			<div class="row">
				<div class="col"><textarea class="form-control" rows="100" ref="makeFileContentsElement" v-model="makefileContents" readonly></textarea></div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
